PRIVATE_KEY=""
ETH_SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2//my_key"
OPTIMISM_SEPOLIA_RPC_URL="https://optimism-sepolia.infura.io/v3/my_key"
ZORA_SEPOLIA_RPC_URL="https://sepolia.rpc.zora.energy"
MODE_SEPOLIA_RPC_URL="https://sepolia.mode.network"

ETHERSCAN_API_KEY="your_key"