SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
OPTIMISM_SEPOLIA_RPC_URL=https://optimism-sepolia.infura.io/v3/YOUR_KEY
ZORA_SEPOLIA_RPC_URL=https://sepolia.rpc.zora.energy
MODE_SEPOLIA_RPC_URL=https://sepolia.mode.network

PRIVATE_KEY=0xYOUR_PRIVATE_KEY
